/* settings */
$font-weight: 200
$sidebarLinkColor: #fff
$sidebarLinkBackground: #fff
$sidebarLinkActiveColor: #E0E4CC
$sidebarLinkActiveBackground: #0d6efd
$sidebarLinkHoverColor: #E0E4CC
$sidebarLinkHoverBackground: #0d6efd
$sidebarBackground: #202020
  
body
  background: rgb(35,35,39)
  color: #fff

/* sidebar general styles */
.sidebar
  font-weight: $font-weight
  width: 200px
  height: 100%
  background: $sidebarBackground
  position: fixed
  z-index: 1
  top: 0
  left: 0
  transition: all 0.5s ease

.main
  position: relative
  top: 12px
  margin-left: 57px

// style the button
.toggle-btn, .toggle-btn .nav-link
  color: $sidebarLinkColor

#sidebar-toggle // the input
  display: none

// force label's width
.sidebar label
  width: 100%
  .container
    padding: 0

// split into left and right
#sidebar .nav-link
  padding-right: 0px
  color: $sidebarLinkColor
  font-size: 20px
  span, i
    display: inline-block
  span
    width: 128px
  i
    text-align: center
    width: 50px
    margin-left: auto
  &:hover
    color: $sidebarLinkHoverColor
    background: $sidebarLinkHoverBackground
  
  &.active
    color: $sidebarLinkActiveColor
    background: $sidebarLinkActiveBackground

// sidebar toggle logic
.minimized-sidebar
  left: -150px

.maximized-sidebar
  left: 0
